In [ ]:
import pandas as pd
from bs4 import BeautifulSoup
import os

# Assuming `html` contains the raw HTML you extracted earlier
def extract_table(html):
    soup = BeautifulSoup(html, 'html.parser')

    # Find the table in the HTML (by id, class, etc.)
    table = soup.find('table', {'id': '__BVID__59'})

    # Extract the table headers
    headers = [th.get_text(strip=True) for th in table.find_all('th')]

    # Extract the rows of the table
    rows = []
    for tr in table.find_all('tr')[1:]:  # Skip the header row
        cols = tr.find_all('td')
        row = [col.get_text(strip=True) for col in cols]
        rows.append(row)

    # Create a DataFrame
    df = pd.DataFrame(rows, columns=headers)
    return df

In [11]:
big_table = pd.DataFrame()

# Loop through all the files in the "data" directory
for file in os.listdir("data"):
    if file.endswith(".html"):  # Ensure we're only processing HTML files
        with open(f"data/{file}", "r") as f:
            html = f.read()
            df = extract_table(html)
            
            # Concatenate the current dataframe to the big table
            big_table = pd.concat([big_table, df], ignore_index=True)

In [12]:
big_table

,No.,วันที่,ช่วงเวลา,02t,03t,11t,12t,50t,52t,53t,...,bkp85t,19t,o63,bkp90t,bkp88t,bkp86t,bkp94t,bkp84t,bkp83t,bkp63t
0,1,2025-01-19,01:00,55.5,51.7,47.1,44.2,50.1,54.5,49.9,...,62.1,55.7,54.1,50.1,66.9,65.2,48.2,52.7,51,49.6
1,2,2025-01-19,02:00,60.3,56.6,48.1,48.1,54,60.7,55.5,...,63.8,45.9,55,52.6,63.1,64.1,51.5,55.2,52,54.7
2,3,2025-01-19,03:00,57.9,58.1,46.2,45.8,55.3,56,56.7,...,69.8,40.5,47.3,54.4,68,78.9,56.4,58.8,49,56.9
3,4,2025-01-19,04:00,55.2,55.3,40.3,43.1,48.6,55.1,45.5,...,77.6,43.4,45.2,53.2,69.1,73.7,50.8,60.2,45,56.1
4,5,2025-01-19,05:00,60.7,60.3,40.9,44.5,47.9,58.4,45.1,...,92,50.8,53.1,70.5,72,74.6,49.1,76.5,41,48.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729,176,2025-01-26,08:00,44.5,44.9,40.8,39.8,48.5,43.2,49.6,...,53,37.9,42.6,52.6,52,39.7,53.1,45.1,43,45.8
730,177,2025-01-26,09:00,48.6,48.3,46,44.4,47.2,48.9,51.8,...,53.3,45.7,47.7,35.6,51,37.4,53,43.1,51,49.8
731,178,2025-01-26,10:00,47.7,47.3,47.7,46.8,49.4,47,52.6,...,55.1,44.9,48.9,32.6,49,38.7,52,52.5,52,46.2
732,179,2025-01-26,11:00,49.7,49.5,53.9,53.5,53.5,47.7,54.9,...,56.5,38.1,53.9,36.4,50.7,39.9,48.5,39.7,49,46.9
733,180,2025-01-26,12:00,45.1,45.6,49.1,48.8,52.6,40,52.1,...,59.7,38.2,48.2,36.3,37.1,39.4,52.4,45.5,46,49.8

In [22]:
df = big_table.copy()
df["No."] = df["No."].astype(int)
df = df.set_index("No.")
df.sort_index(inplace=True)
df

,วันที่,ช่วงเวลา,02t,03t,11t,12t,50t,52t,53t,54t,...,bkp85t,19t,o63,bkp90t,bkp88t,bkp86t,bkp94t,bkp84t,bkp83t,bkp63t
No.,,,,,,,,,,,,,,,,,,,,,
1,2025-01-19,01:00,55.5,51.7,47.1,44.2,50.1,54.5,49.9,44.9,...,62.1,55.7,54.1,50.1,66.9,65.2,48.2,52.7,51,49.6
2,2025-01-19,02:00,60.3,56.6,48.1,48.1,54,60.7,55.5,55.1,...,63.8,45.9,55,52.6,63.1,64.1,51.5,55.2,52,54.7
3,2025-01-19,03:00,57.9,58.1,46.2,45.8,55.3,56,56.7,46.8,...,69.8,40.5,47.3,54.4,68,78.9,56.4,58.8,49,56.9
4,2025-01-19,04:00,55.2,55.3,40.3,43.1,48.6,55.1,45.5,40.5,...,77.6,43.4,45.2,53.2,69.1,73.7,50.8,60.2,45,56.1
5,2025-01-19,05:00,60.7,60.3,40.9,44.5,47.9,58.4,45.1,41.4,...,92,50.8,53.1,70.5,72,74.6,49.1,76.5,41,48.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,2025-02-18,10:00,25.5,27.2,24.9,24.9,28.7,25,29.9,28.7,...,26.3,24.3,24.9,27.1,21,20.2,17.1,52.6,25,21.9
731,2025-02-18,11:00,28.1,26.7,21.1,21.9,25.4,27.5,24.2,27.3,...,27.4,23.5,22.5,19.8,28.8,16.6,17,22.2,18,29.5
732,2025-02-18,12:00,,24.3,20.2,20.9,25,25.1,24.3,24.1,...,26.5,23.7,20.6,,25.1,35.4,16.1,22.1,20,28.1
733,2025-02-18,13:00,,,19.7,19.2,22.8,27.9,22.9,22.5,...,39.4,21.8,19.7,32.6,35.8,25.2,25.7,21,24,34.5
734,2025-02-18,14:00,27.2,,43.6,16.6,,23.8,27.1,38.3,...,30,22.5,,17.9,29.1,19.7,19.1,30.2,30,28.5

In [ ]:
df.to_csv("data.csv")